
*~
*.a
*.o
*.log
*.trs
*.out
*.gcno
*.gcda
*.pc
*.generated
*.sublime-project

.cproject
.project
.settings/
.deps/

ci-*

generated/
autom4te.cache/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
Makefile
Makefile.in

build/
